*.pyc
*.DS_Store
dist
omero_gallery.egg-info
.omero

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# build script copies files here
omero_gallery/static/gallery/css/
omero_gallery/static/gallery/js/
omero_gallery/static/gallery/media/
omero_gallery/templates/gallery/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
